body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #edecf0 !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.filters-div {
  border-left: 1px solid;
  height: 800px;
}

.filters-left-div {
  border-right: 1px solid;
  height: 800px;
}

.justify-center {
  justify-content: center;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
